.main{
    position: absolute;
    background-color: rgb(88, 175, 88);
    width: 750px;
    height: 400px;
}
.second{
    position: relative;
    border: 3px solid white;
    height: 350px;
    width: 700px;
    top:20px;
    left: 25px;
    

}
.arc-rigth{
    position: relative;
    border: 3px solid white;
    height: 110px;
    width: 50px;
    top:125px;
    right: 0px;
}
.arc-left{
    position: relative;
    border: 3px solid white;
    height: 110px;
    width: 50px;
    top:7px;
    left: 645px;
}
.circucle{
    position: absolute;
    border: 3px solid white;
    height: 150px;
    width: 150px;
    top:120px;
    left: 290px;
    border-radius:100%
}
.ball{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white; 
}