.main{
    position: relative;
    background-color: rgb(88, 175, 88);
    width: 750px;
    height: 400px;
}
.second{
    
    position: absolute;
    border: 3px solid white;
    height: 350px;
    width: 700px;
    top:20px;
    left: 25px;
    

}
.arc-rigth{
    position: absolute;
    border: 3px solid white;
    height: 110px;
    width: 50px;
    top:125px;
    right: 0px;
}
.arc-left{
    position: absolute;
    border: 3px solid white;
    height: 110px;
    width: 50px;
    top:125px;
    left: 0px;
}
.circucle{
    /*toma posicion partir del elemento main relative */
    position: absolute;
    border: 3px solid white;
    height: 150px;
    width: 150px;
    top:120px;
    left: 290px;
    border-radius:100%
}
.ball1{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white; 
    display: inline-block;
    top:151px;
    left: 72px;
}
.ball2{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white; 
    display: inline-block;
    top:80px;
    left: 410px;
}
.ball3{
     /*toma posicion partir del elemento main relative */
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white; 
    display: inline-block;
    top:230px;
    right: 85px;
}